/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  background-color: #f9fafb;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

$mat-card-padding: 10px;

mat-card {
  padding: $mat-card-padding;
}

mat-card-content {
  min-height: 200px;
}

mat-card-footer {
  margin-bottom: $mat-card-padding * -1;
  margin-left: $mat-card-padding * -1;
  margin-right: $mat-card-padding * -1;
}

mat-card-header {
  padding: 0 !important;
  margin-left: $mat-card-padding * -1;
  margin-right: $mat-card-padding * -1;
  margin-top: $mat-card-padding * -1;
}

mat-card-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {

  a,
  button {
    margin-left: 10px;
  }
}