mat-spinner {
  margin-right: 20px;
}

#option-input input {
  width: 95%;
}

#option-input button {
  background: none;
  border: 0;
  cursor: pointer;
  float: right;
}

#option-input button mat-icon {
  font-size: 20px;
  height: 16px;
}

::ng-deep .snackbar-text {
  white-space: pre-wrap;
  text-align: center;
}
