<mat-card>
  <mat-card-header>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingElection"></mat-progress-bar>
  </mat-card-header>

  <mat-card-content>
    <mat-card-title>{{question}}</mat-card-title>

    <div cdkDropListGroup>
      <div class="options-container">
        <h3>
          Ballot options
          <app-help-icon-button>
            These are the available candidates to vote on for this election.
            Drag your choices to the right hand side to make your selections.
          </app-help-icon-button>
        </h3>
        <div
            cdkDropList
            class="options-list"
            [cdkDropListData]="options"
            (cdkDropListDropped)="choiceDropped($event)">
          <div cdkDrag class="options-box" *ngFor="let option of options">{{option}}</div>
        </div>
      </div>

      <div class="choices-container">
        <h3>
          Your choices
          <app-help-icon-button>
            This list contains your selections in order of preference. You can
            select one or more candidates.
          </app-help-icon-button>
        </h3>
        <div
            cdkDropList
            class="options-list"
            [cdkDropListData]="choices"
            (cdkDropListDropped)="choiceDropped($event)">
          <div cdkDrag class="options-box" *ngFor="let choice of choices">{{choice}}</div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <a
        id="resultsLinkButton"
        mat-flat-button
        [disabled]="isLoadingElection"
        [routerLink]="['results']">
      See results
    </a>

    <button
        id="resetButton"
        mat-flat-button
        [disabled]="isLoadingElection"
        (click)="reset()">
      Reset
    </button>

    <button
        id="submitButton"
        color="primary"
        mat-raised-button
        type="submit"
        [disabled]="isSubmitting || isLoadingElection || !isValid"
        (click)="vote()">
      Submit
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="isSubmitting"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
