<mat-toolbar class="mat-elevation-z4">
  <button aria-label="Menu button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <a id="logo" aria-label="Go home button" href="/vote">
    <img src="assets/banner-logo.png" />
  </a>

  <mat-menu #menu="matMenu">
    <a aria-label="Create a new election" href="/vote/election/create" mat-menu-item>
      <mat-icon>edit_note</mat-icon>Create
    </a>
    <a aria-label="Vote in an election" href="/vote" mat-menu-item >
      <mat-icon>how_to_vote_outlined</mat-icon>Vote
    </a>
    <button aria-label="Share" mat-menu-item (click)="share()">
      <mat-icon>share_outlined</mat-icon>Share
    </button>
    <a aria-label="About" href="/vote/about" mat-menu-item>
      <mat-icon>info_outlined</mat-icon>About
    </a>
  </mat-menu>

  <span class="spacer"></span>

  <a id="githubLink" aria-label="Github Link" alt="Github" href="https://github.com/agaber/vote" mat-flat-button>
    <img src="assets/github.png" />
  </a>
</mat-toolbar>
