<mat-card>
  <mat-card-header>
    <mat-card-title>Create an election</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="outline" class="single-item-input" floatLabel="always" >
        <mat-label>Question</mat-label>
        <input
            autocomplete="off"
            formControlName="question"
            matInput
            placeholder="Enter a question here"
            required>
        <mat-error *ngIf="form.controls.question.invalid">
          Please enter a question to vote on in your election.
        </mat-error>
      </mat-form-field>

      <div id="options" formArrayName="options">
        <h3>Answer options</h3>

        <div *ngFor="let option of options.controls; let i = index">
          <mat-form-field id="option-input" appearance="outline">
            <input autocomplete="off" matInput placeholder="Option {{i + 1}}" [formControlName]="i" />
            <button
                aria-label="Remove option"
                (click)="onRemoveOption(i)"
                [disabled]="isLoading"
                *ngIf="options.length > 1">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.options.at(i).invalid">
              Please enter text for each voting option.
            </mat-error>
          </mat-form-field>
        </div>

        <button
            mat-raised-button
            (click)="onAddOption()"
            [disabled]="isLoading"
            *ngIf="form.controls.options.valid">
          <mat-icon>add</mat-icon> Add another option
        </button>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <mat-spinner strokeWidth="2" diameter="30" *ngIf="isLoading"></mat-spinner>
      <button
          color="primary"
          mat-raised-button
          type="submit"
          [disabled]="isLoading">
        Create Election
      </button>
    </mat-card-actions>
  </form>
</mat-card>
